# Default ignored files
/shelf/
/.idea/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

*.iml
khaos-common/target
khaos-core/target
khaos-web/target
/target
.idea/
log/
